.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ff0000;
  color: #fff;
}

.social-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  text-decoration: none;
}

.social-list li {
  margin-right: 10px;
}

.company-info {
  font-size: 0.8rem;
  font-style: italic;
}

.logo {
  width: 100px;
}